#images {
  margin-left: -21px;
  .images--general {
    display: flex;
    align-items: flex-start;

    &__image {
      img {
        width: 850px;
        height: 400px;
        margin-left: -10px;

        &:hover {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.02%, #000000 110.12%);
        }
      }

      &--title {
        position: relative;
        top: -100px;

        p {
          font-family: 'Raleway', sans-serif;
          font-weight: 600;
          font-size: 18px;
          line-height: 140%;
          letter-spacing: 0.1em;
          color: #FFFFFF;
          padding-left: 20px;
        }

        &--ioc {
          position: relative;
          display: flex;
          align-items: center;
          top: -5px;
          left: 10px;

          a {
            font-size: 50px;
            color: #009EE3;


          }

          h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 24px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
            padding-right: 15px;

          }

          span {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
            padding: 7px 10px 0 0;

          }

          &__dot {
            margin-left: 500px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #009EE3;

            a {
              font-size: 40px;
            }
          }
        }

      }
    }

    &__img {
      position: relative;

      img {
        width: 450px;
        height: 400px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.02%, #000000 110.12%);
      }

      &--text {
        position: absolute;
        bottom: 0;

        p {
          font-family: 'Raleway', sans-serif;
          font-weight: 600;
          font-size: 20px;
          line-height: 140%;
          letter-spacing: 0.1em;
          color: #FFFFFF;
          margin: -10px 25px;
        }

        &__ioc {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 15px;

          a {
            font-size: 50px;
            color: #009EE3;
          }

          h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
          }

          span {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.1em;
            color: #FFFFFF;
            padding-left: 10px;
          }

          &--dot {
            margin-left: 100px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #009EE3;

            a {
              font-size: 40px;
            }
          }
        }
      }
    }

    &__ac {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: -91px;

      &--img {
        position: relative;

        img {
          width: 450px;
          height: 400px;
        }

        &__text {
          position: absolute;
          bottom: 0;

          p {
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 20px;
            line-height: 140%;
            letter-spacing: 0.1em;
            color: #FFFFFF;
            margin: -10px 25px;
          }

          &--ioc {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 15px;

            a {
              font-size: 50px;
              color: #009EE3;
            }


            h1 {
              font-family: 'Open Sans', sans-serif;
              font-weight: 600;
              font-size: 20px;
              letter-spacing: 0.1em;
              color: #FFFFFF;
            }

            span {
              font-family: 'Open Sans', sans-serif;
              font-weight: 300;
              font-size: 14px;
              line-height: 140%;
              letter-spacing: 0.1em;
              color: #FFFFFF;
              padding-left: 10px;
            }

            &__dot {
              margin-left: 100px;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 1px solid #009EE3;

              a {
                font-size: 40px;
              }
            }

          }

        }
      }
    }
  }
}